body, html {
    height: 100%;
}
body {
    /*display: flex;*/
    margin: 0px;
    overflow: hidden; /*  Disable scrollbars */
    background-color: black;

    #object-gui {
        position: absolute;
        left: 20px;
        top: 0px;
       } 

       /* Styling for the second GUI (lightsGUI) - Right-aligned */
    #lights-gui {
        position: absolute;
        top: 20px;  /* Adjust as needed for spacing */
        right: 20px; /* Align to the top right */
        z-index: 10; /* Ensure it's above other content */
    }
    
}